.container{ /*cajita donde estamos metiendo nuestro menu*/
    width:100%;
    padding: 0 10px;
    margin: 0 auto;
    background-color: blue;

}
/* inicio la estrutura de mi menu*/
.nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    height: 90px;

}
/*estrutura de cada una de la opciones de mi menu*/
.nav_links_list{
    list-style-type:none;
    display: flex;
    gap: 0px 20px;
    font-family: poppins;
    font-size: 18px;
    padding-right: 20px; 
    color: white;
    text-transform: uppercase;

}

/*cada uno de los enlaces de mi menu*/
.nav_link a {
    text-decoration: none;
    color: white;
    }
/*esta clase le da estrutura a mi logo*/
.nav_logo {
    width: 150px;
    margin-right: 10px;
    padding-top: 10px;

}